@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #18181b;
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-feature-settings: "rlig" 1, "calt" 1;
}

@layer utilities {
  .glass {
    @apply backdrop-blur-xl bg-white/50 dark:bg-zinc-900/50 border border-zinc-200 dark:border-zinc-800;
  }
  
  .glass-card {
    @apply backdrop-blur-xl bg-white dark:bg-zinc-900 border border-zinc-200 dark:border-zinc-800 rounded-2xl;
  }
}
